<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>

<body>
  {{!-- HEADER --}}
  <div class="big-container">
    <header class="header">
      <nav class="nav-wrapper flexed-item">
        <div class="nav-link-wrapper flexed-item">
          <div class="nav-logo">
            <a href="#" class="flexed-item">
              <span class="logo-item circle"></span>
              <h2 class="logo-item">SNEAKLOVE</h2>
            </a>
          </div>
          <ul class="nav-link flexed-item">
            <li class="nav-item animated-link">
              <a href="">Collection</a>
            </li>
            <li class="nav-item animated-link">
              <a href="">Men</a>
            </li>
            <li class="nav-item animated-link">
              <a href="">Women</a>
            </li>
            <li class="nav-item animated-link">
              <a href="">Kids</a>
            </li>
            <li class="nav-item animated-link">
              <a href="">Add product</a>
            </li>
            

          </ul>
        </div>
        <div class="flexed-item nav-end">
          <button id="nav_login" class="button-ternary flexed-item nav-end-item">
            <span class="btn-text">Log In</span>
          </button>
          <i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i>
        </div>
      </nav>
    </header>
  </div>
  {{!-- END HEADER --}}

  {{!-- MAIN CONTENT --}}
  <div class="main-content-products flexed-item big-container">
    {{!-- CATEGORY --}}
    <aside class="category-wrapper">
      <h4 class="category-title">Category</h4>
      <ul class="category-list">
        <li class="category-list-item">List Item category 1</li>
        <li class="category-list-item">List Item category 4</li>
        <li class="category-list-item">List Item category 3</li>
      </ul>
    </aside>
    {{!-- PRODUCTS--}}
    <section class="products-wrapper">
      <div class="products-infos">
        <h4 class="products-title">Gender <span class="products-count">(35)</span></h4>
        <p class="products-subtitle">Prepare for your miles with the latest styles and colors of women’s running shoes.
          Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
          pairs running shoes that align with your running philosophy.</p>
      </div>
      <div class="products-grid flexed-item">
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
        <div class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </div>
      </div>
    </section>
  </div>
  {{!-- MAIN END CONTENT --}}
  <footer class="footer flexed-item">
   <p> Made with  <i class="fas fa-heart"></i>  by Mimi amsa and Guillaume Amg </p>
  </footer>
</body>

</html>