  <div class="main-content-products flexed-item big-container">

    {{!-- CATEGORY --}}
    <aside class="category-wrapper">
      <h4 class="category-title">Category</h4>
      <ul class="category-list">
        <li class="category-list-item">List Item category 1</li>
        <li class="category-list-item">List Item category 4</li>
        <li class="category-list-item">List Item category 3</li>
      </ul>
    </aside>

    {{!-- PRODUCTS--}}
    <section class="products-wrapper">
      <div class="products-infos">
        <h4 class="products-title">whole collection <span class="products-count">(35)</span></h4>
        <p class="products-subtitle">Prepare for your miles with the latest styles and colors of women’s running shoes.
          Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
          pairs running shoes that align with your running philosophy.</p>
      </div>
      <div class="products-grid flexed-item">
        <a href="/one-product" class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </a>
        <a href="/one-product" class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </a>
        <a href="/one-product" class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </a>
        <a href="/one-product" class="product-item-wrapper">
          <div class="product-img"><img src="medias/img/shoe.png" alt="shoe"></div>
          <p class="product-name">Sneacker Model Name</p>
          <p class="product-cat">Product main category</p>
          <p class="product-price">$120</p>
        </a>
      </div>
    </section>
  </div>
