<div class="form-header">
  <h1 class="form-title">Welcome Back !</h1>
  <p class="form-subtitle">Enjoy yourself and be comfortablz </p>
</div>
<div class="form-container">
  <form action="POST" id="form_user_login" class="form">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="name">
    <button class="button-primary white">connexion</button>
  </form>
  <p class="form-subtitle">Don't have an account yet ? <a href="/signup" class="button-link">signup</a></p>
</div>