<div class="one-product-container">
  <div class="sneak-info">
    <div class="sneak-info-header">
      <h1 class="sneak-name">{{sneaker.name}}</h1>
      <p class="sneak-description">{{sneaker.description}}</p>
      <p class="sneak-ref">Ref. {{sneaker.ref}}</p>
    </div>
  </div>
  <div class="flexed-item">
    <select name="main-category" id="main_category" class="select sneak-select">
      <option value="">Choose Size</option>
      <option value="">36</option>
      <option value="">37</option>
      <option value="">38</option>
      <option value="">39</option>
    </select>  
    <a href="" class="button-primary a-link">Add to cart <i class="fas fa-shopping-cart shop-cart-icon-page"></i></a> 
  </div>

  <div class="sneak-img-container">
    <img src="{{sneaker.image}}" alt="img-product" class="sneak-img">
  </div>

</div>