<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your Sneakers catalog ({{isLoggedIn}})</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Sneaker Image</th>
        <th class="table-head">Sneaker Name</th>
        <th class="table-head">Sneaker Ref</th>
        <th class="table-head">Sneaker Prixe</th>
        <th class="table-head">Edit</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-row">
        <td class="table-division">
          <div><img src="/medias/img/shoe.png" alt="img" class="table-image" /></div>
        </td>
        <td class="table-division">
          <div>Nike Revolution</div>
        </td>
        <td class="table-division">
          <div>$34</div>
        </td>
        <td class="table-division">
          <div>N2345H</div>
        </td>
        <td class="table-division"><a href="/product_edit" class="fa fa-edit table-icon"></a></td>
        <td class="table-division"><a href="" class="fa fa-trash table-icon" aria-hidden="true"></a></td>
      </tr>
      <tr class="table-row">
        <td class="table-division">
          <div><img src="/medias/img/shoe.png" alt="img" class="table-image" /></div>
        </td>
        <td class="table-division">
          <div>Nike Revolution</div>
        </td>
        <td class="table-division">
          <div>$34</div>
        </td>
        <td class="table-division">
          <div>N2345H</div>
        </td>
        <td class="table-division"><a href="/product-edit" class="fa fa-edit table-icon"></a></t>
        <td class="table-division"><a href="" class="fa fa-trash table-icon" aria-hidden="true"></a></td>
      </tr>
    </tbody>
  </table>
</div>