<div class="main-content-products flexed-item big-container">

  {{!-- CATEGORY --}}
  <aside class="category-wrapper">
    <h4 class="category-title">All Tags</h4>
    <ul class="category-list">
      <li class="category-list-item"> <a href="">Tag 1</a> </li>
      <li class="category-list-item"> <a href="">Tag 2</a></li>
      <li class="category-list-item"> <a href="">Tag 3</a></li>
    </ul>
  </aside>

  {{!-- PRODUCTS--}}
  <section class="products-wrapper">
    <div class="products-infos">
      <h4 class="products-title">whole collection <span class="products-count">({{sneakers.length}})</span></h4>
      <p class="products-subtitle">Prepare for your miles with the latest styles and colors of women’s running shoes.
        Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
        pairs running shoes that align with your running philosophy.</p>
    </div>
    {{#unless sneakers}}
    <p>Sorry, no sneakers yet !</p>
    {{/unless}}
    <div class="products-grid flexed-item">
      {{#each sneakers}}
      {{> sneaker_mini }}
      {{/each}}
    </div>
  </section>
</div>