<div class="form-header">
  <h1 class="form-title">Start discovering a new way of running</h1>
  <p class="form-subtitle">Enjoy yourself and be comfortable </p>
</div>
<div>
  <form action="POST" id="form_signup">
    <input type="text" name="name" id="name">
    <input type="text" name="last-name" id="last_name">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <input type="password" name="password-confirmation" id="password_confirmation">
    <button class="button-primary white">Create Account</button>
  </form>
  <p class="form-subtitle">Already have an account : <a href="/login" class="button-link">login</a></p>
</div>