.manage-products-wrapper{
  /* background: black; */
  padding: 2rem 1.2rem;
  height: calc(100vh - (84px));
}

h3.manage-products-title{
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: .8rem;
  margin-bottom: .8rem;
  font-size:1.2rem; 
  height: 49px;
}